<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.bms.mapper.AddressMapper">

	<insert id="insertAddress" parameterType="com.bms.model.AddressModel">
	insert into
	address(id,address,userid,postcode,name,phonenum,state)values(#{id},#{address},#{userid},#{postcode},#{name},#{phonenum},#{state})
    </insert>
    
    <delete id="deleteAddress" parameterType="com.bms.model.AddressModel">
     delete from address  where id = #{id}
  	</delete>
  	<select id="findAll" resultType="com.bms.model.AddressModel">
  	select * from address 
  	</select>
  	<select id="listByUserid" resultType="com.bms.model.AddressModel" parameterType="java.util.Map">
  	select * from address where userid = #{userid}
  	</select>
  	<update id="updateAddress" parameterType="com.bms.model.AddressModel">
  	update address set address = #{address} , postcode = #{postcode},name = #{name},phonenum = #{phonenum} where id = #{id}
  	</update>
  	<!-- 传入多个参数 -->
  	<select id="listByPage" resultType="com.bms.model.AddressModel" parameterType="java.util.Map">
  		select * from address where userid= #{userid} limit #{pageNo} , #{pageSize}
  	</select>
  	<select id="getTotal" resultType="java.lang.Long" parameterType="java.util.Map"> 
  		select count(*) from address where userid=#{userid}
  	</select>
  	<!-- 出入多个参数模糊查询 -->
  	<select id="listBySearch" resultType="com.bms.model.AddressModel" parameterType="java.util.Map">
  		select * from account where 1 = 1
  		<if test="searchType == 'phonenum'">
  		 and phonenum like '%${searchField}%'
  		</if>
  		limit #{pageNo},#{pageSize}
  	</select>
  	<!-- 按条件查询出的条数 -->
  	<select id="getTotalBySearch" resultType="java.lang.Long" parameterType = "java.util.Map">
  		select count(*) from account where 1=1 
  		<if test="searchType == 'phonenum'">
  		and phonenum like '%${searchField}%'
  		</if> 
  		
  	</select>
  

  <!-- 
  <select id="getUserByUsername" parameterType="string" resultType="com.huawei.nser.standard.dao.User">
     select msisdn,sub_id,pwd password,to_char(active_time,'yyyymmdd') activate_time from ec_user where msisdn=#{msisdn} 
  </select>
  
  
   <insert id="addUser" parameterType="com.huawei.nser.standard.values.ECUserValue">
       insert into ec_user(msisdn, sub_id, pwd, active_time,remark) values(#{msisdn}, #{sub_id}, #{pwd}, #{active_time},#{remark})
  </insert>

  
   <update id="setUserPassword" parameterType="com.huawei.nser.standard.dao.User">
   　　　update ec_user set pwd = #{password} where msisdn=#{msisdn}
  </update>  
  
   <delete id="delLogincheck" parameterType="com.huawei.nser.standard.values.LoginCheckPO">
     delete from ec_sys_logincheck  where login_number = #{login_number} and checktype= #{checktype}
  </delete>
  
  -->
    
</mapper>

